@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
:root {
  --header-height: 3rem;
  --nav-height: 4.375rem;
  --hue-color: 208;
  --sat: 67%;
  --first-color: hsl(var(--hue-color), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue-color), var(--sat), 36%);
  --title-color: hsl(var(--hue-color), 12%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 35%);
  --body-color: hsl(var(--hue-color), 100%, 95%);
  --container-color: #fff;
  --header-bg: linear-gradient(
    90deg,
    rgba(102, 166, 255, 1) 0%,
    rgba(137, 247, 254, 1) 100%
  );
  --body-font: "Poppins", sans-serif;
  --heading-font-size: 2rem;
  --normal-font-size: 1rem;
  --tiny-font-size: 0.875rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media (max-width: 968px) {
  :root {
    --heading-font-size: 1.5rem;
    --normal-font-size: 0.875rem;
    --tiny-font-size: 0.75rem;
  }
}

body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 67%, 15%);
  --container-color: hsl(var(--hue-color), 67%, 25%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --header-bg: linear-gradient(
    90deg,
    rgba(0, 2, 24, 1) 0%,
    rgba(10, 31, 50, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

*::-moz-selection {
  background: var(--first-color-alt);
  color: #fff;
}

*::selection {
  background: var(--first-color-alt);
  color: #fff;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

ul {
  list-style: none;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.section {
  padding: 1.5rem 0 2rem;
}

.section_title {
  font-size: var(--heading-font-size);
  color: var(--title-color);
  text-align: center;
  margin: 5rem 0;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  letter-spacing: 2px;
}

.section_title::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: red;
  width: 100px;
  height: 1px;
}

.particles-js {
  width: 100%;
  margin: 0;
}

header {
  position: relative;
  background-image: var(--header-bg);
  position: relative;
}

header .navbar {
  background-color: var(--container-color);
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
  height: 70px;
  left: 0;
  bottom: 0;
}

header .navbar-brand img {
  width: 100px;
}

header .navbar-nav {
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navbar .nav-item .nav-link {
  color: var(--title-color);
}

header .navbar .nav-item .nav-link.active {
  color: var(--first-color-alt);
}

header .navbar .nav_img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: none;
}

header .navbar .nav_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header .navbar .nav_btns .change-theme,
header .navbar .nav_btns .bx-shopping-bag,
header .navbar .nav_btns .bx-customize {
  font-size: 1.2rem;
  cursor: pointer;
}

header .navbar .cart-mask {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  overflow: scroll;
  background-color: var(--container-color);
}

header .navbar .cart-mask .cart-close {
  position: absolute;
  right: 2%;
  top: 2%;
  color: var(--title-color);
  font-size: 36px;
  cursor: pointer;
}

header .navbar .cart-mask .cardInItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 60%;
  margin: 0 auto;
  padding-top: 5%;
}

header .navbar .cart-mask .cardInItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--title-color);
  bottom: -10%;
}

header .navbar .cart-mask .cardInItem-img {
  max-width: 300px;
  height: auto;
}

header .navbar .cart-mask .cardInItem-img img {
  max-width: 100%;
}

header .navbar .cart-mask .cardInItem-content {
  max-width: 500px;
}

header .navbar .cart-mask .cardInItem-content input {
  max-width: 100px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

header .navbar .cart-mask .cardInItem-title {
  font-size: calc(var(--normal-font-size) + 5px);
  text-transform: uppercase;
  line-height: 30px;
  color: var(--title-color);
}

header .navbar .cart-mask .cardInItem-text {
  font-size: var(--normal-font-size);
  color: var(text-color);
}

header .navbar .cart-mask .cardInItem-price {
  font-size: var(--heading-font-size);
  font-weight: 300;
  color: var(--title-color);
}

header .navbar .cart-mask.is-open {
  top: 0;
}

@media screen and (max-width: 767px) {
  header .navbar .navbar-brand img {
    width: 60px;
  }
  header .navbar .nav_img {
    display: block;
  }
  header .navbar .navbar_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    background-color: var(--container-color);
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 1.5rem;
    z-index: var(--z-fixed);
  }
  header .navbar .navbar_menu .navbar-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  header .navbar .navbar_menu .navbar-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2px;
  }
  header .navbar .navbar_menu .navbar-nav .nav-link > .nav_icon {
    font-size: 1.5rem;
  }
  header .navbar .navbar_menu .nav_close {
    float: right;
    font-size: 1.5rem;
  }
  header .navbar .nav_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    margin-right: 7%;
  }
}

header .header_wrapper {
  padding: 20% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_title {
  font-size: var(--heading-font-size);
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

header .header_subtitle {
  font-size: var(--normal-font-size);
  font-weight: 400;
  color: #fff;
}

header .header_btn {
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  padding: 10px 30px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px 0 20px;
}

header .header_btn:hover {
  background: #fff;
  color: var(--first-color);
}

header .header_image {
  width: 80%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

header .header_image img {
  width: 100%;
}

header .header_images_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 50px auto 0;
}

header .header_images_item {
  max-width: 80px;
  height: 80px;
  margin-bottom: 10px;
  background-color: #fff;
}

header .header_images_item img {
  width: 100%;
  -webkit-transform: translate(-30%, 100%) rotate(-25deg);
          transform: translate(-30%, 100%) rotate(-25deg);
}

header .header_images_item:nth-child(1) {
  background-color: #9dff90;
}

header .header_images_item:nth-child(2) {
  background-color: #91ffdd;
}

header .header_images_item:nth-child(3) {
  background-color: #b9c8ff;
}

header .header_images_item:nth-child(4) {
  background-color: #ff6767;
}

.product_card {
  position: relative;
  z-index: 1;
  background-color: var(--first-color);
  width: 100%;
  height: 450px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.product_card::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.product_img {
  z-index: 1;
  position: absolute;
  width: 110%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-25deg);
          transform: translate(-50%, -50%) rotate(-25deg);
}

.product_name {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30%;
  font-size: calc(var(--normal-font-size) + 5px);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.product_price {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  bottom: 20%;
  font-weight: 300;
}

.product_popup_btn {
  z-index: 2;
  color: #fff;
  background-color: var(--first-color-alt);
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: var(--tiny-font-size);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  border: none;
}

.product_popup_btn:hover {
  color: #fff;
  opacity: 0.7;
}

.product .popup_view {
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.product .popup_view.active {
  visibility: visible;
  opacity: 1;
}

.product .popup_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 500px;
}

.product .popup_card .popup_img {
  z-index: 2;
  background: #1d212b;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 90%;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .popup_card .popup_img img {
  z-index: 2;
  position: relative;
  width: 450px;
  left: -50px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.product .popup_card .popup_content {
  z-index: 2;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  height: 100%;
  padding: 40px;
  border-radius: 10px;
}

.product .popup_card .popup_content h2 {
  font-size: var(--heading-font-size);
  line-height: 20px;
  color: #1d2128;
}

.product .popup_card .popup_content h2 span {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product .popup_card .popup_content p {
  font-size: var(--normal-font-size);
  color: #1d2128;
}

.product .popup_card .popup_content .popup_price {
  font-size: var(--heading-font-size);
  font-weight: 300;
  color: #1d2128;
  margin-bottom: 20px;
}

.product .popup_card .popup_content .add_cart_btn {
  color: #fff;
  background-color: #009dd2;
  font-size: var(--normal-font-size);
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
  padding: 10px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  border: none;
}

.product .popup_card .popup_content .add_cart_btn:hover {
  opacity: 0.7;
  text-decoration: none;
}

.product .popup_card .popup_content .add_wish {
  color: #009dd2;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--normal-font-size);
}

.product .popup_card .close_btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .product .product_card {
    height: 355px;
  }
  .product .product_card .product_img {
    width: 90%;
  }
  .product .popup_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: auto;
  }
  .product .popup_card .popup_img {
    z-index: 3;
    width: 100%;
    height: 200px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .product .popup_card .popup_img img {
    max-width: 100%;
    left: -5%;
    top: -10%;
  }
  .product .popup_card .popup_content {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .product .popup_card .popup_content h2 {
    margin: 20px 0 5px;
  }
  .product .popup_card .popup_content p {
    margin-top: 20px;
  }
  .product .popup_card .popup_content .popup_price {
    font-size: var(--heading-font-size);
  }
  .product .popup_card .popup_content .add_cart_btn {
    padding: 5px 40px;
  }
  .product .popup_card .close_btn {
    z-index: 4;
  }
}

.t_shirts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.t_shirts_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 410px;
  gap: 10px;
}

.t_shirts_wrapper .product_1_small_img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.t_shirts_wrapper .product_1_small_img img {
  height: 130px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.t_shirts_wrapper .product_1_small_img img:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.t_shirts_wrapper .product_1_big_img {
  height: 100%;
  max-width: 100%;
}

.t_shirts_wrapper .product_1_big_img img {
  height: 100%;
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.t_shirts .product_1_title {
  color: var(--title-color);
  font-size: calc(var(--heading-font-size) - 0.5rem);
}

.t_shirts .product_1_subtitle {
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.t_shirts .product_1_size_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.t_shirts .product_1_size_box .product_1_size {
  color: var(--title-color);
  font-weight: 500;
  font-size: calc(var(--normal-font-size) + 0.2rem);
}

.t_shirts .product_1_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.t_shirts .product_1_form .product_1_input {
  display: none;
}

.t_shirts .product_1_form .product_1_label {
  text-align: center;
  padding: 15px 10px;
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  border-radius: 5px;
  cursor: pointer;
}

.t_shirts .product_1_form .product_1_label .display_box .product_1_size {
  color: var(--title-color);
  font-size: var(--normal-font-size);
}

.t_shirts .product_1_form .product_1_input[type="radio"]:checked + .product_1_label {
  border: 1px solid var(--title-color);
}

.t_shirts .form_btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.t_shirts .form_btns .product_btn {
  position: relative;
  border: none;
  background: none;
  border: 1px solid var(--first-color-alt);
  color: var(--title-color);
  padding: 15px 0;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.t_shirts .form_btns .product_btn span {
  position: absolute;
  left: 50%;
  z-index: 3;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.t_shirts .form_btns .product_btn .add-to-cart {
  opacity: 1;
}

.t_shirts .form_btns .product_btn .added {
  opacity: 0;
}

.t_shirts .form_btns .product_btn .shop-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 27px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.t_shirts .form_btns .product_btn .box-icon {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 16px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.t_shirts .form_btns .product_btn .bx-check {
  font-size: 25px;
}

.t_shirts .form_btns .product_btn:hover {
  background: var(--first-color-alt);
  color: #fff;
}

.product_btn.clicked .shop-icon {
  -webkit-animation: cart 1.5s ease-in-out forwards;
          animation: cart 1.5s ease-in-out forwards;
}

.product_btn.clicked .box-icon {
  -webkit-animation: box 1.5s ease-in-out forwards;
          animation: box 1.5s ease-in-out forwards;
}

.product_btn.clicked .add-to-cart {
  -webkit-animation: text1 1.5s ease-in-out forwards;
          animation: text1 1.5s ease-in-out forwards;
}

.product_btn.clicked span.added {
  -webkit-animation: text2 1.5s ease-in-out forwards;
          animation: text2 1.5s ease-in-out forwards;
}

@-webkit-keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@-webkit-keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 51%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 51%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@-webkit-keyframes text1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@keyframes text1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes text2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.photo_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 10px;
}

.photo_grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.tall {
  grid-row: span 2 / auto;
}

.swiper {
  width: 100%;
  margin-bottom: 50px;
}

.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 60%;
  height: auto;
  border-radius: 8px 8px 0 0;
  pointer-events: none;
}

.swiper .swiper-slide-active {
  pointer-events: all;
}

.swiper .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.swiper .swiper-slide .clothes_info {
  max-width: 100%;
  height: 180px;
  padding: 15px 0 20px 10px;
  background-color: var(--first-color-alt);
  border-radius: 0 0 8px 8px;
  color: #fff;
}

.swiper .swiper-slide .clothes_info .clothes_title {
  font-size: calc(var(--heading-font-size) - 0.7rem);
  margin: 0;
  font-weight: 600;
}

.swiper .swiper-slide .clothes_info .clothes_subtitle {
  font-size: var(--normal-font-size);
  font-weight: 300;
}

.swiper .swiper-slide .clothes_info .clothes_price {
  font-size: calc(var(--heading-font-size) - 0.5rem);
  font-weight: 300;
}

.swiper .swiper-slide .clothes_info .clothes_btn {
  border: none;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--first-color-alt);
  font-size: var(--tiny-font-size);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper .swiper-slide .clothes_info .clothes_btn:hover {
  opacity: 0.5;
}

@media screen and (min-width: 576px) {
  .swiper .swiper-slide {
    max-width: 40%;
  }
  .swiper .swiper-slide .clothes_info {
    height: 220px;
  }
  .swiper .swiper-slide .clothes_info .clothes_btn {
    font-size: var(--normal-font-size);
    padding: 10px 20px;
  }
}

.best_image {
  cursor: pointer;
}

.best_content {
  position: relative;
  margin: -40px auto 40px;
  z-index: 2;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid lightgray;
  height: auto;
  text-transform: uppercase;
  color: #444;
  width: 83%;
  padding: 15px 0;
}

.best_title {
  font-size: 20px;
  font-weight: 500;
}

.shop_wrapper {
  row-gap: 100px;
}

.shop_image {
  cursor: pointer;
}

.shop_btn {
  background: var(--first-color);
  width: 100%;
  margin: 10px 0;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  font-weight: 400;
  font-size: var(--normal-font-size);
  border: none;
}

.shop_btn:hover {
  background: var(--first-color-alt);
  color: #fff;
  text-decoration: none;
}

.shop_text {
  font-size: var(--tiny-font-size);
  color: var(--text-color);
  margin: 0;
}

.shop_info {
  font-weight: 500;
  font-size: calc(var(--normal-font-size) - 0.2rem);
  color: var(--text-color);
  margin-bottom: 15px;
}

.shop_price {
  font-size: calc(var(--normal-font-size) + 0.3rem);
  font-weight: 400;
  color: var(--title-color);
}

.news {
  padding: 100px 0;
}

.news_title {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.news_title .title {
  font-size: var(--heading-font-size);
  color: var(--title-color);
  text-transform: uppercase;
}

.news_title .subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.news_wrapper {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid var(--first-color-alt);
  padding: 50px;
}

.news_form {
  max-width: 60%;
  margin: 0 auto;
}

.news .input_title {
  margin-bottom: 5px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

.news .input {
  font-size: var(--normal-font-size);
  padding: 1.7rem 1rem;
  border: 1px solid var(--first-color-alt);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  background: none;
}

.news .input::-webkit-input-placeholder {
  color: var(--title-color);
  opacity: 0.8;
}

.news .input:-ms-input-placeholder {
  color: var(--title-color);
  opacity: 0.8;
}

.news .input::-ms-input-placeholder {
  color: var(--title-color);
  opacity: 0.8;
}

.news .input::placeholder {
  color: var(--title-color);
  opacity: 0.8;
}

.news .news_button {
  border: none;
  padding: 10px 15px;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news .news_button:hover {
  background-color: var(--first-color-alt);
}

.news .policy {
  font-size: var(--tiny-font-size);
  color: var(--text-color);
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 70px 0;
  line-height: 20px;
  background-image: var(--header-bg);
}

.footer_title {
  font-size: calc(var(--heading-font-size) - 0.4rem);
  text-transform: uppercase;
  color: var(--title-color);
}

.footer_list {
  padding: 0;
}

.footer_item > a {
  color: var(--text-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-size: var(--tiny-font-size);
}

.footer_item > a:hover {
  color: var(--first-color-alt);
}

.footer_item i {
  margin-right: 5px;
}

.footer_social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: var(--first-color);
  color: #fff;
  font-size: calc(var(--heading-font-size) - 0.5rem);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_icon:hover {
  background-color: var(--first-color-alt);
}

@media screen and (max-width: 992px) {
  .t_shirts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .t_shirts_wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .news_wrapper {
    padding: 20px;
    width: 90%;
  }
  .news_form {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
    margin: 0 auto;
  }
  .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news_title {
    max-width: 80%;
  }
}

@media screen and (min-width: 767px) {
  .navbar {
    z-index: 999;
    top: 0;
    left: 0;
  }
  .navbar .nav-link {
    position: relative;
  }
  .navbar .nav-link.active::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--title-color);
    left: 50%;
    bottom: -5px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .navbar .nav-link.active::before {
    background-color: var(--first-color-alt);
  }
  .nav_icon,
  .nav_toggle,
  .nav_close {
    display: none;
  }
}
