header {
  position: relative;
  background-image: var(--header-bg);
  position: relative;
  .navbar {
    background-color: var(--container-color);
    width: 100%;
    position: fixed;
    z-index: var(--z-fixed);
    height: 70px;
    left: 0;
    bottom: 0;

    &-brand img {
      width: 100px;
    }

    &-nav {
      column-gap: 1.25rem;
      flex-direction: row;
    }

    .nav-item {
      .nav-link {
        color: var(--title-color);

        &.active {
          color: var(--first-color-alt);
        }
      }
    }

    .nav_img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: none;
    }

    .nav_btns {
      display: flex;
      align-items: center;
      column-gap: 30px;
      .change-theme,
      .bx-shopping-bag,
      .bx-customize {
        font-size: 1.2rem;
        cursor: pointer;
      }
    }

    .cart-mask {
      position: fixed;
      z-index: 9999;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      transition: top 0.3s ease-in-out;
      overflow: scroll;
      background-color: var(--container-color);

      .cart-close {
        position: absolute;
        right: 2%;
        top: 2%;
        color: var(--title-color);
        font-size: 36px;
        cursor: pointer;
      }

      .cardInItem {
				position: relative;
        display: flex;
        align-items: center;
        column-gap: 30px;
        max-width: 60%;
        margin: 0 auto;
        padding-top: 5%;

				&::before{
					content: "";
					position: absolute;
					width: 100%;
					height: 1px;
					background: var(--title-color);
					bottom: -10%;
				}

        &-img {
          max-width: 300px;
          height: auto;

          img {
            max-width: 100%;
          }
        }

        &-content {
          max-width: 500px;

          input {
            max-width: 100px;
            display: block;
            margin-bottom: 20px;
            text-align: center;
          }
        }

        &-title {
          font-size: calc(var(--normal-font-size) + 5px);
					text-transform: uppercase;
          line-height: 30px;
          color: var(--title-color);
          // width: 30%;
        }

				&-text{
					font-size: var(--normal-font-size);
					color: var(text-color);
				}

				&-price{
					font-size: var(--heading-font-size);
					font-weight: 300;
					color: var(--title-color);
				}
      }

      &.is-open {
        top: 0;
      }
    }

    @media screen and (max-width: 767px) {
      .navbar-brand img {
        width: 60px;
      }
      .nav_img {
        display: block;
      }
      .navbar_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        background-color: var(--container-color);
        width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.4s;
        padding: 1.5rem;
        z-index: var(--z-fixed);

        .navbar-nav {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;

          .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2px;

            & > .nav_icon {
              font-size: 1.5rem;
            }
          }
        }

        .nav_close {
          float: right;
          font-size: 1.5rem;
        }
      }

      .nav_btns {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-right: 7%;
      }
    }
  }

  .header_wrapper {
    padding: 20% 0;
    align-items: center;
  }

  .header_title {
    font-size: var(--heading-font-size);
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
  }

  .header_subtitle {
    font-size: var(--normal-font-size);
    font-weight: 400;
    color: #fff;
  }

  .header_btn {
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: 0.5s;
    margin: 10px 0 20px;

    &:hover {
      background: #fff;
      color: var(--first-color);
    }
  }

  .header_image {
    width: 80%;
    transform: rotate(-25deg);
    img {
      width: 100%;
    }
  }

  .header_images_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 50px auto 0;
  }

  .header_images_item {
    max-width: 80px;
    height: 80px;
    margin-bottom: 10px;
    background-color: #fff;

    img {
      width: 100%;
      transform: translate(-30%, 100%) rotate(-25deg);
    }
  }

  .header_images_item:nth-child(1) {
    background-color: #9dff90;
  }
  .header_images_item:nth-child(2) {
    background-color: #91ffdd;
  }
  .header_images_item:nth-child(3) {
    background-color: #b9c8ff;
  }
  .header_images_item:nth-child(4) {
    background-color: #ff6767;
  }
}
